/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

/* remember to define focus styles! */
:focus {
    outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* end of reset
 ************ */


body {
    background: #000000;
    color: #ffffff;
    font-size: 14px;
    font-family:"Century Gothic", "Avant Garde Gothic", "Avant Garde", "URW Gothic L", helvetica, sans-serif;
}
.wrap {
    background: #000000 url(body.png) top center repeat-y;
    width: 100%;
}

.content {
    width: 740px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
}

.content p {
    line-height: 1.4em;
    margin: 1em 0;
    text-indent: 1em;
}

.content dl,
.content ol,
.content ul {
    line-height: 1.4em;
    margin: 1em 0;
}
.content ul {
    list-style: url(bullet.png);
    padding-left: 2em;
}

.content pre {
    margin: 1em 0;
    background: #999999;
    border: 1px solid #dddddd;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.3em;
}
.content code {
    font-size: 12px;
}

.content dl  {
    overflow: hidden;
}
.content dl dt {
    clear: left;
    float: left;
    font-weight: bold;
    padding-right: 5px;
}

#toc {
    display: none;
}

a {
    color: #cccccc;
    text-decoration: underline;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.content dl dd {
    float: left;
    clear: right;
}

.content h2 {
    background: url(h2.png) 0 0 repeat-x;
    height: 24px;
    line-height: 24px;
    font-weight: normal;
    text-indent: 15px;
    font-size: 16px;
    margin-left:-30px;
    width: 800px;
    cursor: pointer;
    margin-top: 1px;
    margin-bottom: 1px;
    text-transform: lowercase;
}
.content h3 {
    font-size: 16px;
    margin-top: 20px;
}
.content .hider {
    width: 800px;
    margin-left: -30px;
    background: url(footer.png) center -29px no-repeat;
}
.content .hider-content {
    padding: 20px 30px 10px 30px;
    overflow: hidden;
}

.header {
    height: 340px;
    background: url(header.png) 0 0 repeat-x;
    width: 800px;
    margin-left: -30px;
    position: relative;
}
.header h1 {
    width: 155px;
    height: 25px;
    background: url(h1.png) 0 0 no-repeat;
    overflow: hidden;
    text-indent: -3000px;
    position: absolute;
    top: 7px;
    left: 25px;
}
.header #translations {
    float: right;
    line-height: 40px;
    padding-right: 30px;
    font-size: 12px;
}

.header #preorder-shirts,
.header #web-install-download {
    width: 192px;
    padding-left: 40px;
    height: 102px;
    background: url(download.png) 0 0 no-repeat;
    display: block;
    line-height: 95px;
    color: #ffffff;
    text-indent: 30px;
    z-index: 100;
    position: absolute;
    text-decoration: none;
    font-size: 22px;
    left: 560px;
    top: 60px;
}

.header #preorder-shirts {
    top: 100px;
    text-indent: 10px;
    font-size: 14px;
    line-height: 10px;
    padding: 5px;
    width: 60px;
    height: 40px;
    background: #4bb232;
    border-bottom: 3px solid #3a8a27;
    -webkit-border-radius: 8px !important;
    -moz-border-radius: 8px !important;
    border-radius: 8px !important;
    color: white;
    font-weight: bold;
    left: 700px;
    text-align: center;
}

.header #preorder-shirts:hover {
    background: #3e9229;
}

#days-count {
    top: 15px;
    position: absolute;
    left: 6px;
    font-size: 28px;
}

#days-left {
    position: absolute;
    top: 35px;
    font-size: 12px;
    left: 0px;
}

.preorder-shirts-bg #days-left {
    font-size: 10px;
    left: -5px;
}


.header #web-install-download span {
    font-size: 14px;
    position: absolute;
    text-align: left;
    display: block;
    top: 20px;
    left: 40px;
}


.header .slogan {
    position: absolute;
    z-index: 100;
    top: 250px;
    left: 0px;
    height: 60px;
    color: #ffffff;
    font-size: 28px;
    text-indent: -0em;
    background: url(trans.png);
    padding: 10px;
    padding-left: 30px;
    margin: 0;
    width: 760px;
    line-height: 1.1em;
}

.slogan-shirts {
    height: 45px !important;
    top: 262px !important;
}

.slogan-shirts-text {
    top:15px;
    position: relative;
    font-size: 22px;
}

.slogan-shirts-text-bg {
    display:bock;
    position: relative;
    left: -18px;
    font-size: 18px;
}

.header .slogan .video {
    font-size: 42px;
    text-transform: lowercase;
}
.header .slogan .way {
    display: block;
    font-size: 22px;
    color: #dddddd;
    padding-left: 10px;
}
.second-slogan-line1 {
    display: block;
    z-index: 9;
    position: absolute;
    top: 15px;
    font-size: 18px;
    margin-left: 450px;
}

.slogan-bg {
    text-indent: -0.6em !important;
}


.second-slogan-line2 {
    position: absolute;
    top: 35px;
    font-size: 18px;
    margin-left: 470px;
}

.second-slogan-line1-bg {
    margin-left: 460px !important;
}

.second-slogan-line2-bg {
    margin-left: 480px !important;
}

#iceweasel {
    cursor:help;
    color: #cccccc;
    text-decoration:underline;
}

#iceweasel:hover {
    color: #ffffff;
    text-decoration:none;
}

.noshow {
    display: none;
}

.footer {
    width: 100%;
    text-align: center;
    background: #000000 url(footer.png) center top no-repeat;
    padding-bottom: 70px;
    padding-top: 60px;
    margin-top: -30px;
    overflow: hidden;
}

#screenshots {
/*    display: none;*/
}

#gallery {
    width: 800px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    top: 40px;
    left: 0px;
    z-index: 50;
}

#gallery a {
    position: absolute;
    display: block;
    width: 800px;
    height: 300px;
    top: 0;
    left: 0;
}

.identica {
    top: 10px;
    background: url('identica.png') 0 0 no-repeat;
    padding-bottom: 13px;
    height: 20px;
    left: 515px;
    position:relative;
    text-indent: -95px;
    width: 259px;
    display: block;
}

.identica-bg {
    text-indent: -65px;
    left: 505px;
    padding-left: 5px;   
}

#donate-downloads-page,
#donate {
    left: 40%;
    /* margin-left: -100px; */
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    position: relative;
    display: block;
}

#donate-download-page {
    position: relative;
    clear: both;
    left: 10%;
    top: 10px;
}

.clear-floating,
.clear-donation-download-page {
    clear: both;
}

.donation-method-download-page,
.donation-method {
    display: block;
    float: left;
    position: relative;
    width: 100px;
}

.donate-paypal {
    top: -15px;
}

.donate-paypal-download-page {
    top: -15px;
}


.think-penguin-web-button  {
    position:relative;
}

#thanks-think-penguin  {
    width: 500px;
    text-align: justify;
    text-indent: 0;
}

.thanks-think-penguin p img {
    position: relative;
    top: 5px;
}

.thanks-think-penguin p {
    display: block;
    float: left;
    margin-right: 25px;
}

#pronounce {
    top: -3px;
    left: -1px;
    position:relative;
    border:0;
    width: 12px;
}

.pay-attention-text {
    font-weight:bold;
    color: white;
}

.line-break-span {
    display:block;
}

/* Used in the download page, that helps track download
statistics. Located in Savannah download area. DO NOT EDIT THIS it
will break legacy download pages on Savannah. */
.download-statistics-notice,
.download-page-donation-notice {
    top: 20%;
    position: relative ;
    left: 30px;
    display: block;
    width: 500px;
}

.download-page-donation-notice {
    top: 17%;
}

.footer {
    line-height: 1.3em;
    font-size: 12px;
}
.footer p {
    margin: 0.2em 0;
}

#xhtml-download-page,
#xhtml,
#notracking {
    position:relative;
    float: right;
    top: 60px;
    width: 80px;
}

#xhtml-download-page {
    top: -30px;
    left: 50%;
}


#notracking {
    right: -20px;
}

.other-downloads-download-page {
    position: absolute;
    left: 580px;
    top: 170px;
    float: left;
    line-height: 1.3;
}

#direct-link-download-page,
#download-area-download-page {
    float: left;
    padding-right: 10px;
    /* top: 60px; */
}

.cryptocoin-address {
    top: -15px;
    margin-top: 5px;
    position: relative;
}

.footer-donate {
    position: relative;
    left: 45%;
    top: 40px;
}

.footer-donate a {
    float: left;
    width: 100px;
    position: relative;
}

#gallery-shirts {
    margin-top: 25px;
}

#gallery-shirts a img {
    position: relative;
    margin-bottom: 10px;
    width: 740px;
}
