* { margin:0; padding:0; }
body { background:#2a2a2a url(../images/bgr-01.png) repeat center fixed; font:normal 18px/22px Simbal,'PT Serif'; margin:0; padding:0; }

a { transition:all 0.3s; -moz-transition:all 0.3s; -webkit-transition:all 0.3s; -o-transition:all 0.3s; }
a, a:visited { color:#4E909C; text-decoration:underline; }
a:hover { color:#963522; text-decoration:underline; }

.first { background:#141c22 url(../images/brd-01.png) repeat left; width:780px; overflow:auto; position:relative; margin:auto; border-top:none; border-right:1px #0d141a solid; border-bottom:1px #0d141a solid; border-left:1px #0d141a solid; border-radius:0 0 6px 6px; -moz-border-radius:6px; -webkit-border-radius:6px; -o-border-radius:6px; box-shadow:0 2px 8px #010406; -moz-box-shadow:0 0 8px #010406; -webkit-box-shadow:0 0 8px #010406; -o-box-shadow:0 0 8px #010406; }
.second { background:#dbd8cd url(../../../images/bgr-sec-01.png) repeat center; width:730px; overflow:auto; position:relative; margin:4px auto; padding:110px 0 0 0; border-left:1px solid #888; border-right:1px solid #888; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; -o-border-radius:4px; box-shadow:0 -2px 4px #f21604; -moz-box-shadow:0 -2px 4px #f21604; -webkit-box-shadow:0 -2px 4px #f21604; -o-box-shadow:0 -2px 4px #f21604; }

/* HEADER */
#header { background:#141c22 url(../../../images/brd-01.png) repeat left; width:100%; position:fixed; z-index:10; padding:0 0 7px 0; margin:0 0 1px 0; box-shadow:0 0 7px #010406; -moz-box-shadow:0 0 7px #010406; }
/*
#header { background-image:linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); width:100%; position:fixed; z-index:10; padding:0 0 7px 0; margin:0 0 1px 0; box-shadow:0 0 7px #010406; }
*/

/* Header - MENU */
.menu { width:780px; margin:0 auto; }

/* POST SINGLE */
.post { margin:0 25px 25px 25px; }
.post .p-head h1, .post .p-head h2 { color:#555; font:normal 28px/24px Simbal,Arial,Helvetica; letter-spacing:0px; text-align:center; text-shadow: 0 0 3px #bbb; margin:0 20px; padding:0 0 6px 0; border-bottom:#bbb 1px dotted; }
/* 28px/24px Simbal,Arial,Arimo ; 28px/24px 'PT Serif' ; 32px/24px 'Marck Script' */
.post .p-head h1 a, .post .p-head h1 a:visited { color:#555; text-decoration:none; }
.post .p-head h1 a:hover { color:#555; }
.post .p-head h2 a, .post .p-head h2 a:visited { color:#319bd8; text-decoration:none; }

/* Post Content */
.post .p-con { color:#666; padding:10px 0 2px 0; text-align:justify; }
.post .p-con p { color:#666; text-align:justify; padding:5px 0; }
.post .p-con ul { padding:5px 10px 5px 10px; margin:0; }
.post .p-con ul li { background:url(images/p-con-li.png) no-repeat left 3px; list-style-type:none; padding:0 0 2px 12px; margin:-3px 0 3px 3px; }
.post .p-con blockquote { background:#F1EFE7; padding:3px 8px 6px 9px; margin:3px 15px 7px 25px; border-radius:6px; box-shadow:2px 2px 3px #aaa; }
.post .p-con blockquote p { color:#737373; font:italic normal 16px/19px RopaSans,Basil,Georgia,Helvetica; padding:0; margin:0; }
.post .p-con code { font:normal 14px/17px "Courier New",Verdana,Arial; }
.single .p-con p { font:normal 14px/18px Verdana,Tahoma,Arial; }
.single .p-con p a:hover { text-decoration:underline; }
.image .p-con { text-align:center; }
.image .p-con p { text-align:center; }
.image .p-con p.imgtitle { font:bold 10px/10px Verdana,Arial,Helvetica !important; padding:13px 50px 0 50px; margin:0 0 -5px 0; }
.image .p-con .img-desc { width:460px; color:#444; margin:2px 0 13px 42px; padding:0; }
.image .p-con .img-desc p { display:inline; }


/* FOOTER */
.footer { width:750px; padding:7px 0; margin:auto; margin-bottom:75px; }
.footer p { color:#acaa9c; font:normal 11px/17px Verdana,Tahoma,Arial; text-align:center; padding:3px 0 0 0; }
.footer p a, .footer p a:visited { color:#A2A092; text-decoration:none; border-bottom:1px #A2A092 dotted; }
.footer p a:hover { color:#dfdfdf; text-decoration:none; border-bottom:1px #dfdfdf solid; }
.footer p .sys { font-size:10px; text-transform:uppercase; }
.footer p .red { color:#D93600; }
.footer p .red a:hover { color:#D93600; border-bottom:1px #D93600 solid; }


/* Post Images */
.p-con img { margin:4px 1px 4px 0; border:6px #aaa solid; padding:0; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
.p-con img:hover { border:6px #fff solid; } /* grey:#CFCFC1 red:#F57247 blue:#5FA4BB green:#76AC34 */
.p-con img.alignleft { float:left; display:inline; margin-right:10px; }
.p-con img.alignright { float:right; display:inline; margin-left:1.625em; }
.p-con img.aligncenter { clear:both; display:block; margin:4px auto 4px auto; }
